body.series
  
  h1
    font-weight: 400
    margin: 0

  .SeriesPoster
    max-width: 200px
    float: left
    width: 20%
    img
      width: 100%
      vertical-align: middle
  
  .SeriesDetails
    width: 80%
    float: left