.carpool-header
  .header-content
    = link_to 'Carpool', '/index.html', class: "carpool-logo"
    %nav.mobile-menu#mobile-toggle
      %span.icon
      %span.label
    %nav.primary-menu
      = partial 'layouts/partials/nav'