%ul
  %li{ nav_active('index.html') }
    = link_to 'Home', '/index.html', class: "home"
  %li{ nav_active('videos.html') }
    = link_to 'Videos', '/videos.html', class: "videos"
  %li{ nav_active('podcast.html') }
    = link_to 'Podcast', '/podcast.html', class: "podcast"
  %li{ nav_active('about.html') }
    = link_to 'About', '/about.html', class: "about"
