---
  title: About Carpool
  body_classes: about dark-header
  meta_description: 
  meta_keywords:
---


.pt5.pb5
  .Container.pt3.pb4
    %h1.tc.pb3 About Carpool
    .text-columns
      :markdown
        Originally founded in 1943, Carpool was established in response to the depression felt from World War II.

        Consisting of three men — David Morgan–Brown, Brett Jones, and Michael Butcher — the Carpool Crew would go out onto the streets, being a general public nuisance, and amusing nobody besides themselves with their unnusual brand of so-called ‘humour’.

        Many months later, Carpool received a breakthrough with some much–deserved attention, when the trio were arrested and conscripted into the armed forces during an ill-fated public appearance.

        Their stint was not to last however. While on duty, the three founding members of Carpool stepped on landmines (on three separate occasions) and were killed.

    %h2.tc.pt3 The Carpool Crew