---
  title: Videos
  body_classes: dark-header videos_index
  meta_description:
  meta_keywords:
---

.pt5
  .Container.pt3.Primary.pb4
    %h1.tc Videos
    = partial "videos/nav"
    .Row
      - videos.each do | slug, video |
        .Col.Col--video= partial("partials/video/card", locals: { slug: slug, video: video })\
