---
  body_classes: dark-header
  meta_description:
  meta_keywords:
---

- @dynamic_title = "#{category.humanize}s"
- @dynamic_html_class = "videos_#{category}s"

.pt5
  .Container.pt3.Primary.pb4
    %h1.tc Videos
    = partial "videos/nav"
    .Row
      - videos_in_category(category).each do | slug, video |
        .Col.Col--video= partial("partials/video/card", locals: { slug: slug, video: video })
